* {
    box-sizing: border-box;
}
label , input , button{
    font-size: 18px;
}
button{
    background-color: #3b71ca; border-color: #0000ff;
    padding: 6px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#board {
    display: grid;
    margin-top: 20px;
    gap: 2px;
}

.square {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.square.white {
    background-color: #fff;
}

.square.black {
    background-color: #888;
}

.queen {
    color: rgb(150, 0, 10);
}
